<!DOCTYPE html>
<html lang="en">
<%- include('_partials/head.ejs', { title: 'Sign In' }) %>

<body class="d-flex flex-column vh-100">
    <%- include('_partials/header', { auth }); -%>
    <main class="flex-shrink-0 h-90">
        <div class="container">
            <% if (messages && messages.length) { 
                messages.forEach((message) => {
                %>
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
            <% })} %>
            <form class="auth-form-container w-100 m-auto" method="POST">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="e.g. name@example.com"
                        name="email">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="check-me-out">
                    <label class="form-check-label" for="check-me-out">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <p>Or</p>
                <a class="button google" href="/login/federated/google">Sign in with Google</a>
            </form>
        </div>
    </main>
    <%- include('_partials/footer'); -%>
</body>

</html>