<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>

<body>
    <% if (error) {%>
    <strong style="color: red"><%- error %></strong>
    <%}%>
    <form action="/signup" method="post">
        <input type="email" name="email">
        <input type="date" name="DOB">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="password" name="confirmPassword">
        <input type="submit" value="Sign up">
    </form>
</body>
</html>